<% include header %>
	<form method="post">

	  	<div class="form-group">
	  		<label for="title">标题</label>
	  		<input type="text" class="form-control" name="title" id="title" placeholder="请输入标题">
	  	</div>

	  	<div class="form-group">
	  		<label>正文</label>
	    	<textarea rows="8" class="form-control" name="post" placeholder="请输入正文内容" id="mytextarea" ></textarea>
	  	</div>

		<div class="form-group">
		   	<label>File input</label>
		   	<input type="file" name="file" id="file">
			<p id="result"></p>
		   	<img id="img" src="">
			<div id="upload" class="btn btn-default">上传照片</div>
			<div id="addimg" class="btn btn-default" style="display: none;">添加进文章</div>
		</div>

		<div class="form-group">
	  		<button type="submit" class="btn btn-primary btn-lg">发表</button>
		</div>
		
	</form>
<% include footer %>