/*
* all
*/
a:hover{
	text-decoration: none;
}
body,html{
	width: 100%;
	height: 100%; 
	padding: 0;
	margin: 0;
	/* font-family: 'Microsoft YaHei'; */
}
body{
	/* background-color: #e9e9e9; */
	background-color: #e9e9e9;
}
.wp{
	max-width: 960px;
	margin: auto;
}
.header{
	margin-bottom: 20px;
	width: 100%;
	min-height: 50px;
	background-color: #336699;
    box-shadow: 0 0 10px #666;
}
.header a{
	color: #fff;
}
.header h1{
	font-size: 24px;
	line-height: 50px;
	margin: 0;
	padding: 0;
}
ul{
	margin: 0;
	padding: 0;
}
.header ul li{
	float: left;
	list-style: none;
	line-height: 50px;
	font-size: 18px;
	padding: 0 15px;
	margin: 0;
}
.header ul li a{
	color: #fff;
}
.content{
	padding: 25px 0;
}
.main{
	margin-bottom: 200px;
}
/*
* page-index
*/
.page-index{
	width: 100%;
	min-height: 100%;
	background-color: #336699;
	overflow: auto;
}
.page-index h1{
	display: block;
	position: absolute;
	top: 30%;
	height: 80px;
	width: 100%;
	margin: auto;
	font-size: 80px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	opacity: 0;
	cursor: pointer;
	-webkit-animation: h1show 1.5s ease-out forwards;
	-o-animation: h1show 1.5s ease-out forwards;
	animation: h1show 1.5s ease-out forwards;
}

@-webkit-keyframes h1show {
	from { 
		opacity: 0;
		-webkit-transform: translate(0,0);
	 }
	to { 
		opacity: 1;
		-webkit-transform: translate(0, 100%);
	 }
}

@-o-keyframes h1show {
	from { 
		opacity: 0;
		-o-transform:  translate(0,0);
	 }
	to { 
		opacity: 1;
		-o-transform: translate(0, 100%);
	 }
}
@-moz-keyframes h1show {
	from { 
		opacity: 0;
		-moz-transform: translate(0,0);
	 }
	to { 
		opacity: 1;
		-moz-transform: translate(0, 100%);
	 }
}
@keyframes h1show {
	from { 
		opacity: 0;
		transform: translate(0,0);
	 }
	to { 
		opacity: 1;
		transform: translate(0, 100%);
	 }
}

/*
* page-main
*/
.blogBox{
	width: 70%;
	float: left;
}
.blogBox span{
	padding-right: 15px;
}
.blog{
	color: #333;
	display: block;
	border-bottom: 1px solid #ccc;
}
.blog:hover{
	-webkit-animation: blog .5s ease-out;
	-o-animation: blog .5s ease-out;
	animation: blog .5s ease-out;
}
@-webkit-keyframes blog {
	from { 
		opacity: .5;
		-webkit-transform: -webkit-translate(-10px,0)
	 }
	to { 
		opacity: 1;
		-webkit-transform: -webkit-translate(0,0); 
	 }
}
@-o-keyframes blog {
	from { 
		opacity: .5;
		-o-transform: -o-translate(-10px,0)
	 }
	to { 
		opacity: 1;
		-o-transform: -o-translate(0,0); 
	 }
}
@-moz-keyframes blog {
	from { 
		opacity: .5;
		-moz-transform: -moz-translate(-10px,0)
	 }
	to { 
		opacity: 1;
		-moz-transform: -moz-translate(0,0); 
	 }
}
@keyframes blog {
	from { 
		opacity: .5;
		transform: translate(-10px,0)
	 }
	to { 
		opacity: 1;
		transform: translate(0,0); 
	 }
}


.blog img{
	max-width: 100%
}
.latest{
	float: right;
	width: 30%;
	
}
.latest ul {
	list-style: none;
	text-align: left;
	width: 180px;
	margin: auto;
	overflow: hidden;

}
.latest li{
	font-size: 18px;
	padding: 10px;
}
.latest h3{
	padding: 10px;
}
/*
* page-article
*/
.page-article h2{
	border-bottom: 1px solid #ccc;
}
.article h2{
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}
.article p{
	padding: 16px 0;
}
.newComment{
	max-width: 600px;
}
.newComment h4,.comments h4{
	padding-bottom: 20px;
}

/*
* page-rank
*/
.rank li{
	float: left;
	list-style: none;
	padding-right: 20px;
}
.rank li label{
	cursor: pointer;
}